[submodule ".registry"]
	path = .registry
	url = https://github.com/pboesu/universe
	shallow = true
	branch = HEAD
[submodule "moultmcmc"]
	path = moultmcmc
	url = https://github.com/pboesu/moultmcmc
	shallow = true
	registered = true
