[submodule ".registry"]
	path = .registry
	url = https://github.com/pboesu/universe
	branch = HEAD
[submodule "ewp"]
	path = ewp
	url = https://github.com/pboesu/ewp
[submodule "moultmcmc"]
	path = moultmcmc
	url = https://github.com/pboesu/moultmcmc
[submodule "moultmcmcExtra"]
	path = moultmcmcExtra
	url = https://github.com/pboesu/moultmcmcExtra
